*,p{
    margin: 0;
    padding: 0;
}
  @font-face {
      font-family: "MuseoSansMedium";
      src: url("fonts/MuseoSansMedium/MuseoSansMedium.eot");
      src: url("fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
      url("fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
      url("fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }
  @font-face {
      font-family: "MuseoSansBoldItalic";
      src: url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
      src: url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
      url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
      url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }
.slick-next:before, .slick-prev:before{
  color: #43942e;
}
body{
  font-family: "MuseoSansBoldItalic";
}
h1,h2{
    color: #921515;
    font-size: 2rem;
    font-family: "MuseoSansMedium";
    margin-bottom: 1rem;
}
h2{
  /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);*/
  margin: 1rem auto;
}
span.black{
  color: #921515;
}
.img-advanture+h4{
  font-family: "MuseoSansMedium";
  color: #007bff;
}
a{
  transition: 0.3s all ease;
}
header{
    padding: .5rem;
    min-height: 50px;
    background: #fff;
    -webkit-box-shadow:0px 1px 1px #bdbdbd;
    -moz-box-shadow:0px 1px 1px #bdbdbd;
    box-shadow:0px 1px 1px #bdbdbd;
}
input{
  margin-bottom: .5rem;
}
img.logo{
  width: 165px;
  height: auto;
}
.motto{
  color: #007bff;
  font-family: cursive;
  font-size: 1.2em;
}
section{
  padding: 1rem 0;
  margin: .5rem 0; 
}
.msg{
  color: #007bff;
  font-size: 1.5rem;
}
.off{
  margin-top: 2rem; 
}
.head{
  font-size: 2.25rem;
  color: rgb(32, 183, 117);
  background: linear-gradient(135deg, rgb(18, 188, 176) 20%, rgb(250, 190, 14) 70%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 3rem;
  letter-spacing: 5px;
  color: #f00;
}
.btn-advice{
  margin-top: 1rem;
  color: #fff;
  width: 70%;
  margin-left: 15%;
  text-transform: uppercase;
  background-color: rgb(243, 83, 72);
  transition: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}
.btn-advice:hover{
  background-color: #cd493b;
}
.wrapper-main{
    width: 100%;
    min-height: 500px;
    background-image: url('/img/main.jpg');
    background-size: 100% auto;
    background-repeat-y: no-repeat;
}
.box-well{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 1.5rem;
}
.box-well i{
    font-size: 4rem;
    color: rgb(243, 83, 72);
}
.cart-item{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-item>a>img{
  width: 90%;
  height: auto;
  margin-left: 5%;
}
.box-add-photo img{
  width: 100%;
  height: auto;
  margin: 5px auto;
}
.name{
  color: #20b775;
}
.name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.cart{
  color: #e5e5e5;
  padding-left: 40px;
  font-size: 32px;
  text-align: right;
  display: inline-block;
}
.cart:hover{
  color: #20b775;
  cursor: pointer;
}
.capation{
  display: inline-block;
}
.subscribe{
  margin-top: 2rem;
  background-color: rgba(230,220,38,0.6);
  padding: 2rem;
}
.form-main{
  margin-top: 2.5rem;
}
.form-main>input{
  width: 100%;
  padding: 0 5px;
  display: inline-block;
  margin: 5px auto;
}
.navbarmenu{
  display: inline-block;
  margin-bottom: .5rem;
  line-height: 1.7;
}
.navbarmenu{
  width: 100%;
  margin-top: .8rem;
  text-align: center;
}
.navbarmenu>li>a{
  font-family: Arial;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbarmenu>li>a:hover,.f-nav>li>a:hover{
  color: #20b775;
  background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
/*  border: 1px solid transparent;
  border-image: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
  border-image-slice: 1;*/
}
.call-advice{
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: #1abc9c;
}
.call-advice h4{
  line-height: 1.4;
}
.famous{
  width: 100%;
  height: 200px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.review-item{
  padding: 5px 10px;
}
.review-item p{
  font-family: Georgia;
}
.review-item img{
  width: 80%;
  margin: auto;
}
.box-add{
  border-top: 1px solid rgb(238, 238, 238);
}
.box-add>a{
  width: 30%;
  margin-left: 35%;
}
.wapper-checkout{
  display: block;
}
.wapper-checkout>input{
  margin: 0;
  padding: 0;
  padding: 2px 4px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: .5rem;
}
.wapper-checkout>a{
  width: 50%;
  margin-left: 25%;
}
.table td, .table th{
  text-transform: lowercase;
  border-right: 1px solid #fff;
}
  .price{
    font-size: 1.25rem;
    color: #f00;
  }
  .oldprice{
    font-size: 1rem;
    color: #05d;
    text-decoration: line-through;
  }

ul>li>ul>li{
  margin-left: 25px;
}
.sidebar-wrapper{
  margin-top: 50px;
}
ul.sidebar-catalog li {
  list-style: none;
  /*cursor: pointer;*/
}
/*ul.sidebar-catalog li:hover{
  color: #05d;
}*/
.sidebar-catalog li>p {
  font-size: 12px;
  color: #921515;
}
.active{
  color: #05d;
}
/* ------ FOOTER ----- */
footer{
  background-color: #fff;
  margin-top: 10px;
  padding-top: 1.5rem;
  -webkit-box-shadow:0px -1px 1px #bdbdbd;
  -moz-box-shadow:0px -1px 1px #bdbdbd;
  box-shadow:0px -1px 1px #bdbdbd;
}
.f-nav{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.contacts,.schedule{
  text-align: center;
  margin: 1rem 0;
}
.contacts{
  padding-left: 30px;
  min-height: 75px;
  display: inline-block;
  background-image: url('/img/photo.png');
  background-repeat: no-repeat;
  background-position: 0 23px;
}
.contacts>p{
  margin-left: -25px;
}
.phone{
  line-height: 30px;
}
.schedule{
  display: inline-block;
}
#scrollup {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(38, 117, 203, 0.66); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
#scrollup:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
#shop-basket{
    position: fixed;
    bottom: 40%;
    right: 20px;
    z-index: 99;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(243, 83, 72);
    font-size: 32px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}
#shop-basket span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 16px;
  color: #05d;
  position: absolute;
  top: 0;
  right: 0;
/*  font-family: "MuseoSansBold";*/
}
.img-advanture{
  width: 80%;
  margin: 0.5rem 0;
  margin-left: 10%;
  height: 200px;
}
/* ---DELIVERY AND PAY ---*/
.pay-text,.delevery-text{
  padding: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8;
}
.pay-text>h1,.delevery-text>h1,.headline-certif{
  font-size: 2rem;
}
.pay-text{
  margin-bottom: 1rem;
}
.sub-h{
  font-family: "MuseoSansMedium";
}
/* certification */
.block-certif{
  margin-top: 25px;
  margin-bottom: 25px;
}
.w-img-certif{
  margin-top: 20px;
}
.w-img-certif+h4{
  font-size: 1.2rem;
  margin-top: .5rem;
}
h4.margin{
  margin-top: 60px;
}
div[id^="info"], .info{
  font-family: sans-serif;
}
#filter .modal-header,#filter .modal-footer{
  padding: 7px;
}
#filter a.btn{
  width: 100%;
}
input[type=checkbox]{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.quantities{
  background-color: #000;
  margin-bottom: -0.5rem;
}
.bg-offer{
  background-color: rgba(0, 0, 0, .2);
}

.category{
  background-color: #000;
}
.category a{
  color: #007bff;
}
.category section{
  height: 250px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  border-radius: 4px;
}
.kid{
  background-image: url('/img/kid.jpg');
}
.original{
  background-image: url('/img/original.jpg');
}
.classic{
  background-image: url('/img/classic.jpg');
}
.double{
  background-image: url('/img/double.jpg');
}
.filter{
  padding-top: 15px;
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
  .w-img-certif+h4{
    font-size: 1rem;
  }
  h4.margin{
    margin-top: 40px;
  }
  div[id^="info"]{
    font-size: .8rem;
  }
}

@media (max-width: 991px) {
  section{
    padding: 0.5rem 0;
  }
  h1{
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: .5rem;
  }
  h4{
    font-size: 1.2rem;
  }
  .review-item>p{
    font-size: 14px;
  }
  .img-advanture{
    width: 100%;
    height: 180px;
    margin-left: 0;
  }
  .head{
    font-size: 1.8rem;
  }
  .wrapper-main{
    min-height: 400px;
  }
}
@media (max-width: 767px) {
  section{
    padding: .25rem 0;
    margin: .25rem 0;
  }
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.5rem;
  }
  .msg{
    font-size: 1rem;
  }
  .name{
    font-size: 1.2rem;
    text-align: center;
  }
  .famous{
    height: 200px;
  }
  .box-well{
    font-size: .7rem;
  }
  .box-well i{
    font-size: 2.5rem;
  }
  .table td, .table th{
    padding: .25rem;
  }
  #shop-basket{
    right: 15px;
    font-size: 26px;
    padding: 3px 7px;
    border-right: 7px;
  }
  #scrollup{
    right: 15px;
  }
  .wrapper-main{
    min-height: 300px;
  }
}

@media (max-width: 575px) {

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 5px;
    padding-right: 5px;
  }
  .row{
    margin-left: -5px;
    margin-right: -5px;
  }
  .container{
    padding-left: 5px;
    padding-right: 5px;
  }
  body{
    font-size: 0.75rem;
  }
  h1{
    font-size: 1.4rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h4{
    font-size: 1rem;
  }
  .msg{
    font-size: .8rem;
  }
  .btn-xs{
    padding: .5rem;
  }
  .slick-prev{
    left: -5px;
  }
  .slick-next{
    right: -5px;
  } 
  .pay-text>h1,.delevery-text>h1,.headline-certif{
    font-size: 1.25rem;
    margin: .6rem 0;
  }
  .sub-h,.pay-text,.delevery-text{
    font-size: .8rem;
  }
  h4.margin{
    margin-top: .5rem;
  }
  .w-img-certif+h4{
    font-size: 12px;
  }
  .name,.price{
    font-size: 1rem;
  }
  .oldprice{
    font-size: .75rem;
  }
  .btn{
    padding: .3rem .4rem;
  }
  .box-add>a{
    width: 50%;
      margin-left: 25%;
  }
  .famous{
    height: 150px;
  }
  .wrapper-main{
    min-height: 200px;
  }
  .btn-advice{
    width: 80%;
    margin-left: 10%;
    margin-top: .5rem;
    font-size: .75rem;
  }
  .head{
    font-size: 1.6rem;
  }
  .desc{
    color: #fff;
    font-size: 1.4rem;
  }
  .contacts{
    margin: 0;
  }
  .img-advanture{
    height: auto;
    max-height: 150px;
  }
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}